@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.form-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.search-input{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
}
.search-btn{
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 16px;
}
#gallery{

    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin: auto;
        max-width: 1440px;
        margin-top: 108px;
    }

.gallery-item{
    width: 360px;
    height: auto;
    border: 1px solid #808080;
   
}

img {
    
height: 190px;
width: 100%;
display: block;
  
   
}
.info{
   
padding: 4px;
    display: flex;
    gap: 28px;
    justify-content: center;
}

.info p{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        gap: 8px;
        font-size: 12px;
        color: #2e2f42;
}



.load-btn{
   display: none;
    position: absolute;
    left: 50%;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #4E75FF;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.loading-message{
    display: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;
}
